body{
    display:flex ;
    align-items: center ;
    justify-content: center;  
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 100vh;
    /* margin: 0; */
}

div{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: black;
    display: inline-flex ;
    align-items: center ;
    justify-content: center; 
    height: 20%;
    width: 300%;
    border: 2px black solid;
    background-image: linear-gradient(to right,orange, white, green);
}